.notifier {
    position: fixed;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.bigscreen {
    flex-direction: column;
    right: 1vw;
    top: 2vh;
}

.smallscreen {
    flex-direction: column-reverse;
    right: 1vw;
    bottom: 2vh;
    margin-right: 1vw;
}

.systemnotification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 40vw;
    font-size: 0.8rem;
    color: white;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    animation-name: on_show;
    animation-duration: 7000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 50;
}

.success {
    background-color: rgb(153, 202, 153);
}

.fail{
    background-color: rgb(224, 122, 122);
}

@keyframes on_show{ 
    50% {opacity: 1;}
    100% {opacity: 0;}
}
