.wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.tooltip {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #6B6B69;
    color: #fff;
}

.bigscreen {
    position: absolute;
    width: max-content;
}

.smallscreen {
    position: fixed;
    width: 60vw;
    max-height: 60vh;
    overflow: auto;
    z-index: 20;
    top: 20vh;
    left: 20vw;
    animation-name: on_show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes on_show {
    from {
        opacity: 0;
        transform: translate(0%, -10%) scale(0);
    }
    to {
        transform: translate(0%, -10%) scale(1);
        opacity: 1;
    }
}


